{% extends "base.html" %}




<body>
{% block body %}

<style>
	.flash-msg {
		position: absolute;
	    top: 23px;
	    z-index: 2000;
	    width: 100%;
	    display: none;
	}

	.button {
            background-color: #4CAF50; /* Green */
            border: none;
            border-radius:20px;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
          }
           .btn1 {
             background-color: #4CAF50;
            color: white;
            border: 2px solid #4CAF50;

          }

          .btn1:hover {
            background-color: white;
            color: black;
          }
</style>


<section class="section-padding" id="product" style="margin-top:0px;">
  <div class="container"style="margin-top:70px;">
	<div class="row" >
		<div class="col-sm-8">
			<!-- <h3>{{product.title}}</h3> -->
			{% if product.get_image_url %}
				<div>
					<img src="{{product.get_image_url}}" class="img-responsive">
				</div>
			{% endif %}
			<div>
				<!-- <p class="lead">{{product.description}}</p> -->
			</div>
		</div>

		<div class="col-sm-4">
      <h1>{{product.title}}</h1>
      <div>
        <p class="lead">{{product.description}}</p>
	  </div>
	  <div class = "Contact">
		  <h3>Contact:</h3>
			Number: 7377709154
			<br/>Email: aviydv96@gmail.com
			
	  </div>

			{% if related_products %}
				<h4>Related products</h4>
				<div class="row">
					{% for product in related_products %}
						<div class="col-xs-5">
							{% include "products/product_thumbnail.html" with product=product %}
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
  	</div>
</section>
{% endblock %}
</body>
