{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

<!-- Title -->
    {% block head%}
      <title>{% trans "Password Reset" %}</title>
    {% endblock %}
{% block body %}
<style>
  .sfrm{
    border-radius: 10px;
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    margin-top: 150px;

    background-color:#5ACCD4;
  }
  #btn1 {
  display: inline-block;
  border-radius: 25px;
  background-color: #58A2A2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 250px;
  transition: all 0.5s;ss

  margin: 5px;
  line-height:10px;

}
#btn1:hover {
  opacity: 0.6;
  color:#fff01f3;
  background-color:#74AFD7;
}
  </style>
<div class="container-fluid"  id="contact-area" style="height:100%; margin-bottom:0px;">
<div class="row">
<div class="col-sm-4  col-sm-offset-4 text-center sfrm">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password?<br>Reset By Your Valid <b>E-mail</b>" %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" id="btn1" value="{% trans 'Reset Password' %}" />
    </form>

    <p>{% blocktrans %}if you have any trouble resetting your password.<a href="/form/contact"><b>Contact Us</a>{% endblocktrans %}</p>
    </div>
    </div>
    </div>
{% endblock %}
