{% extends "form/base.html" %}

{% load i18n %}
<!-- Title -->
    {% block head%}
      <title>{% trans "Password Changed" %}</title>
    {% endblock %}

{% block body %}
<section class="section-padding" id="contact-area" style="margin-top:0px; margin-bottom:0px; height:100%;">

    <h1 style="margin-top:150px; text-align:center;">{% trans "Your password is changed." %}</h1>
    <p style="text-align:center;"> You may now<a href="/form/login/"> log in</a> again. Enjoy :)</p>
    </section>
{% endblock %}
