{% extends "/form/base.html" %}

{% load i18n %}
{% load account %}

<!-- Title -->
    {% block head%}
      <title>{% trans "Password Reset" %}</title>
    {% endblock %}

{% block body %}
<section class="section-padding" id="contact-area" style="margin-top:0px; margin-bottom:0px; height:100%;">
    <h1 style="margin-top:150; text-align:center;">{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "form/snippets/already_logged_in.html" %}
    {% endif %}

    <p style="text-align:center; color:tomato;"><b>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</b></p>
</section>
{% endblock %}
