{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block body %}
<style>
    body{
        margin-top: 135px;
    }

 .button {
   background-color: #4CAF50; /* Green */
   border: none;
   border-radius:20px;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   cursor: pointer;
 }
  .btn1 {
    background-color: #4CAF50;
   color: white;
   border: 2px solid #4CAF50;

 }

 .btn1:hover {
   background-color: white;
   color: black;
 }

 .btn2 {
   background-color: white;
   color: black;
   border: 2px solid #008CBA;
 }

 .btn2:hover {
   background-color: #008CBA;
   color: white;
 }

 .wrapper {
   display: inline-flex;
   justify-content: center;
 }
 .wrapper i {
   padding: 10px;
   text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
   transition: all ease-in-out 150ms;
 }
 .wrapper a:nth-child(2) {
   color: #dd4b39;
 }
 .wrapper a:nth-child(1) {
   color: #4867AA;
 }
 .wrapper i:hover {
   margin-top: -3px;
   text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
 }
</style>

<body>


<body class="container-fluid" id="contact-area">

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>


{% if title %}
<h1 class='{% if title_align_center %}text-align-center{% endif %}'>{{ title }}</h1>
{% endif %}

<form method='POST' action=''>{% csrf_token %}
{{ form|crispy }}

<input class='button btn1' type='submit' value='Submit' />

</form>
</div>
</div>
</body>
{% endblock %}